/*Fuente*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,500;1,6..12,300&family=Roboto:ital,wght@0,400;1,300&display=swap");
/* Llamo a las variables */
/* Elemntos de la carpeta base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif; }

/*elementos de layout*/
header {
  background-color: #F23545;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0; }

/*elementos de components*/
/*elementos de mediaquery*/
