

@media (max-width: 768px) {
    nav .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    }
    nav ul {
    @include flex(column, none, none, center, .0625rem);
    padding: 0.5rem 0px;
    }
    nav label {
    display: flex;
    color: white;
    cursor: pointer;
    }
    nav #toggle:checked + .menu {
    max-height: 100vh;
    overflow: hidden;
    }
}

