header {
    background-color: $color-principal;
    width: 100%;
    height: 6.25rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 1.25rem 0.625rem;
    align-items: center;

    .nav-wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
        nav{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1.5rem;
            .logo {
                display: flex;
                margin-right: 1.25rem;
                max-width: 6.25rem;
                height: auto;
            }

            .menu{
                .navbar {
                list-style: none;
                display: flex;
                gap: 1.25rem;
                justify-content: center;
                max-height: 0;
                    li {
                        a {
                            text-decoration: none;
                            &:hover {
                                color: blue;
                                background-color: red;
                                text-decoration: overline;
                            }
                        }
                    }
                }
            }
            
        }
    }
}
nav #toggle, nav label{
    display: none;
}






