main {
    background-color: $background-color;
}

.titulo-productos{
    text-align: center;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
}

.grid {
    width: 100%;
    @include grid(2fr 1fr 1fr, 1fr, none, none, none)
}

.precios {
    list-style-position: inside;
    text-align: end;
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

.agregar {
    text-align: end;
    ul{
        list-style-position: inside;
        text-align: end;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }  
}

.precios ul li, .agregar ul li {
    margin: 5px;
}
